.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.buttonRegister {
  background-color: #457b9d;
  color: white;
  width: 100%;
}

.buttonLogin {
  background-color: #1d3557;
  color: white;
  width: 100%;
}

.card {
  margin-top: 10%;
  margin-bottom: 10%;
}

.row {
    margin: 0 !important;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 25%;
}
