.table {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.row {
  margin: 0 !important;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep snack-bar-container.error-class {
  background: #e63946;
  color: white;
}

::ng-deep snack-bar-container.success-class {
  background: #a8dadc;
  color: black;
}

.buttonCancel {
  background-color: #e63946;
  color: white;
  width: 100%;
  border-color: #e63946;
}

.buttonSave {
  background-color: #1d3557;
  color: white;
  width: 100%;
  border-color: #1d3557;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 3%;
}
